@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232334;
}

.btnBlue {
  background: #6966FF;
  color: white;
  width: 145px;
  height: 48px;
  border-radius: 7.29px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.btnBlue:hover {
  background: #5754E6;
  width: 152px;
  height: 52px;
}